@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Admin/_Layout.cshtml";
}

<!DOCTYPE HTML>
<html>
<meta charset="UTF-8">
<head>
<script>
window.onload = function () {
 
var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title: {
		text: "Thống kê trong năm"
	},
	toolTip: {
		shared: true
	},
	data: [{
		type: "spline",
		name: "Người dùng",
		showInLegend: true,
		dataPoints: @Html.Raw(ViewBag.DataPoints1)
	}, {
		type: "spline",
		name: "Feedbacks",
		showInLegend: true,
		dataPoints: @Html.Raw(ViewBag.DataPoints2)
	}]
});
chart.render();
 
}
</script>
</head>
<body>
<div id="chartContainer" style="height: 370px; width: 90%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>	
</body>
</html>